In [3]:
import importlib
from utils import SQLConnect, SimFin_DataRequestor
import requests

import pandas as pd
API_KEY = 'N8XsZtAZtjMH8aUVK0d4A6HXm152V0TF'

In [6]:
sqlconnect = SQLConnect.SQLConnect()

In [7]:
balance_sheet_querystr = """
SELECT 
	simId
	, ticker
	, fiscal_year
	, period_type
	, [Invested Capital] = SUM(CASE WHEN t.StandardisedName IN ('Total Assets', 'Short Term Debt', 'Interest & Dividends Payable') THEN t.valueChosen ELSE 0 END) -
							SUM(CASE WHEN t.StandardisedName IN ('Total Current Liabilities') THEN t.valueChosen ELSE 0 END)
FROM SimFin.balancesheet t (nolock)
WHERE
	period_type = 'fy'
GROUP BY 
	simId
	, ticker
	, fiscal_year
	, period_type
"""

In [8]:
df_balancesheet = pd.read_sql(balance_sheet_querystr, sqlconnect.conn)

In [6]:
income_statement_querystr = """
SELECT 
	simId
	, ticker
	, fiscal_year
	, period_type
	, [EBIT] = SUM(CASE WHEN t.StandardisedName = 'Operating Income (Loss)' THEN t.valueChosen ELSE 0 END) 
FROM SimFin.incomestatement t (nolock)
WHERE
	period_type = 'fy'
GROUP BY 
	simId
	, ticker
	, fiscal_year
	, period_type
"""

In [9]:
df_incomestatement = pd.read_sql(income_statement_querystr, sqlconnect.conn)

In [18]:
def generate_df_roic(tickers):
    """
    Create a dataframe with ROIC info from the raw balance sheet and income statement data
    in the SQL database
    """
    df_result = pd.DataFrame()
        
    for ticker in tickers:
        df_ticker_bs = df_balancesheet[df_balancesheet['ticker'] == ticker].sort_values(by='fiscal_year')
        df_ticker_bs['Avg_Invested_Capital'] = (df_ticker_bs['Invested Capital'] + df_ticker_bs['Invested Capital'].shift()) / 2

        df_ticker_is = df_incomestatement[df_incomestatement['ticker'] == ticker].sort_values(by='fiscal_year')

        df_ticker_roic = df_ticker_bs.merge(df_ticker_is)
        df_ticker_roic['ROIC'] = df_ticker_roic['EBIT'] / df_ticker_roic['Avg_Invested_Capital']
        
        if df_result.empty:
            df_result = df_ticker_roic.dropna()
        else:
            df_result = df_result.append(df_ticker_roic.dropna())
        
    return df_result

In [26]:
generate_df_roic(tickers = ['AAPL'])

,simId,ticker,fiscal_year,period_type,Invested Capital,Avg_Invested_Capital,EBIT,ROIC
1,111052,AAPL,2009,fy,35995000000,3.040250e+10,11740000000,0.386152
2,111052,AAPL,2010,fy,54461000000,4.522800e+10,18385000000,0.406496
3,111052,AAPL,2011,fy,88401000000,7.143100e+10,33790000000,0.473044
4,111052,AAPL,2012,fy,137522000000,1.129615e+11,55241000000,0.489025
5,111052,AAPL,2013,fy,163342000000,1.504320e+11,48999000000,0.325722
6,111052,AAPL,2014,fy,174699000000,1.690205e+11,52503000000,0.310631
7,111052,AAPL,2015,fy,220734000000,1.977165e+11,71230000000,0.360263
8,111052,AAPL,2016,fy,254285000000,2.375095e+11,60024000000,0.252723
9,111052,AAPL,2017,fy,292978000000,2.736315e+11,61344000000,0.224185

In [27]:
simId = 111052  # atvi
prices_querystr = """
SELECT *
FROM SimFin.vw_fyearEnd_Prices
WHERE simId = %s""" % simId

In [28]:
pd.read_sql(prices_querystr, sqlconnect.conn)

,simId,ticker,fyearEnd,fyearEnd_Month,fyear,filing_date,closeAdj_at_filing_date
0,111052,AAPL,9,1,2007,2007-11-30,23.07
1,111052,AAPL,9,1,2008,2008-11-28,11.73
2,111052,AAPL,9,1,2009,2009-11-30,25.31
3,111052,AAPL,9,1,2010,2010-11-30,39.39
4,111052,AAPL,9,1,2011,2011-11-30,48.39
5,111052,AAPL,9,1,2012,2012-11-30,74.77
6,111052,AAPL,9,1,2013,2013-11-29,72.81
7,111052,AAPL,9,1,2014,2014-11-28,111.30
8,111052,AAPL,9,1,2015,2015-11-30,112.59
9,111052,AAPL,9,1,2016,2016-11-30,107.53
10,111052,AAPL,9,1,2017,2017-11-30,169.90

In [8]:
tickers = [ticker for ticker in df_balancesheet.ticker.unique()][:200]
x = generate_df_roic(tickers)
x.shape

NameError: name 'df_incomestatement' is not defined

In [12]:
year = 2014

roic = x[x['fiscal_year'] == year].sort_values(by='ROIC', ascending = False)
print(roic.shape)
roic

(198, 8)

,simId,ticker,fiscal_year,period_type,Invested Capital,Avg_Invested_Capital,EBIT,ROIC
4,167827,PRGB,2014,fy,-2279635,-1.328174e+06,-10693148,8.051017
4,663685,FONU,2014,fy,-243348,-6.260805e+05,-1067804,1.705538
4,663520,PMXO,2014,fy,-370907,-3.382880e+05,-300379,0.887939
3,69772,SLNM,2014,fy,-1968000,-5.491500e+06,-3901000,0.710371
5,104458,PII,2014,fy,1226653000,1.083676e+09,714690000,0.659505
6,256569,TJX,2014,fy,7059116000,6.871148e+09,3606501000,0.524876
4,346874,NTRI,2014,fy,58225000,5.658050e+07,29244000,0.516857
4,423305,PPC,2014,fy,2372423000,2.435830e+09,1203115000,0.493924
6,86689,SBUX,2014,fy,7714200000,6.926800e+09,2792600000,0.403159
6,339017,FAST,2014,fy,2073749000,1.954850e+09,786626000,0.402397
4,447855,MMS,2014,fy,635832000,6.158850e+08,225308000,0.365828
1,653411,RLJE,2014,fy,119372000,1.276885e+08,45313000,0.354871
4,378235,VRSK,2014,fy,1910118000,1.993919e+09,660446000,0.331230
6,504823,GWW,2014,fy,4101633000,4.134728e+09,1347117000,0.325805
6,378215,SHW,2014,fy,3701368000,4.077408e+09,1304036000,0.319820
5,335043,HLF,2014,fy,1580200000,1.606450e+09,513500000,0.319649
5,449291,Y,2014,fy,11083353000,1.079542e+10,3426474000,0.317401
6,111052,AAPL,2014,fy,174699000000,1.690205e+11,52503000000,0.310631
5,549215,IDCC,2014,fy,987793000,9.872690e+08,302768000,0.306672
5,218764,CLX,2014,fy,3338000000,3.358500e+09,987000000,0.293881
4,362943,FLUG,2014,fy,4013357,4.100175e+06,1173366,0.286175
4,87732,ALX,2014,fy,348399000,3.409900e+08,96689000,0.283554
4,253076,LANC,2014,fy,569558000,5.561725e+08,153767000,0.276474
4,693332,SYNT,2014,fy,1093778000,9.833345e+08,268350000,0.272898
3,378125,DLPH,2014,fy,6866000000,7.040000e+09,1898000000,0.269602
6,22219,MMM,2014,fy,25351000000,2.654300e+10,7135000000,0.268809
5,445691,ALGN,2014,fy,786186000,7.214975e+08,193576000,0.268298
3,178127,GLGI,2014,fy,13148401,1.099924e+07,2933194,0.266672
4,378212,STX,2014,fy,7094000000,6.864500e+09,1800000000,0.262219
5,564422,WTW,2014,fy,1206638000,1.159760e+09,299314000,0.258083
...,...,...,...,...,...,...,...,...
4,153113,ISSC,2014,fy,37156248,3.664709e+07,-142868,-0.003898
4,346795,HDSN,2014,fy,55041000,5.158250e+07,-985000,-0.019096
4,364942,XPO,2014,fy,2370100000,1.526500e+09,-40900000,-0.026793
3,172507,LTRX,2014,fy,20304000,2.036550e+07,-816000,-0.040068
4,260313,CLNE,2014,fy,1045044000,1.099652e+09,-55340000,-0.050325
3,445699,ALKS,2014,fy,1795226000,1.639334e+09,-87144000,-0.053158
3,445197,SUPN,2014,fy,108661000,9.662800e+07,-5278000,-0.054622
1,103135,MIXX,2014,fy,20002439,1.992483e+07,-1482160,-0.074388
4,51800,Fred,2014,fy,457626000,4.644025e+08,-48412000,-0.104246
4,342891,RSYS,2014,fy,108576000,1.129940e+08,-21095000,-0.186691
4,693134,TYL,2014,fy,336973000,2.946755e+08,-81161000,-0.275425
2,654265,SRAX,2014,fy,20460822,1.177778e+07,-3738216,-0.317396
3,93692,LEDS,2014,fy,50082000,6.268850e+07,-24789000,-0.395431
1,360213,NWGI,2014,fy,2926436,1.376100e+06,-599903,-0.435944
4,132676,GUID,2014,fy,32373000,3.431150e+07,-15135000,-0.441106
3,131347,IMPV,2014,fy,137067000,1.261910e+08,-56506000,-0.447782
4,504067,SMSI,2014,fy,18619000,2.016350e+07,-9307000,-0.461577
3,74307,TPCS,2014,fy,8730406,1.244967e+07,-6844702,-0.549790
4,138695,DVAX,2014,fy,118011000,1.532205e+08,-90925000,-0.593426
4,724383,CORT,2014,fy,30499000,4.329050e+07,-27619000,-0.637992
1,693227,TNDM,2014,fy,88370000,1.179930e+08,-75664000,-0.641258
4,97638,PPHM,2014,fy,60133000,6.423550e+07,-50499000,-0.786154
1,417451,W,2014,fy,322931000,1.869845e+08,-147784000,-0.790354
6,184064,COOL,2014,fy,5551000,1.368400e+07,-13010000,-0.950745
3,668565,PBYI,2014,fy,118317000,1.017100e+08,-142275000,-1.398830
4,171401,ZYXI,2014,fy,-865000,3.382000e+06,-5237000,-1.548492
4,652365,Mark,2014,fy,15304000,1.059150e+07,-17444000,-1.646981
4,654791,MKGI,2014,fy,-1868133,-1.001391e+06,1962495,-1.959769
4,99062,CLRB,2014,fy,7308613,4.801546e+06,-9669129,-2.013753
7,546690,COOL,2014,fy,-946296,2.302352e+06,-23560282,-10.233136

In [13]:
generate_df_roic(['TJX'])

,simId,ticker,fiscal_year,period_type,Invested Capital,Avg_Invested_Capital,EBIT,ROIC
1,256569,TJX,2009,fy,4571346000,4.188362e+09,1991071000,0.475382
2,256569,TJX,2010,fy,4841369000,4.706358e+09,2191679000,0.465685
3,256569,TJX,2011,fy,5221152000,5.031260e+09,2447062000,0.486372
4,256569,TJX,2012,fy,5751259000,5.486206e+09,3106526000,0.566243
5,256569,TJX,2013,fy,6683179000,6.217219e+09,3350570000,0.538918
6,256569,TJX,2014,fy,7059116000,6.871148e+09,3606501000,0.524876
7,256569,TJX,2015,fy,7088201000,7.073658e+09,3704700000,0.523732
8,256569,TJX,2016,fy,8126152000,7.607176e+09,3849523000,0.506038
9,256569,TJX,2017,fy,8932478000,8.529315e+09,3987426000,0.467497

In [22]:
from urllib.request import Request, urlopen
import urllib
import requests

In [15]:
simId = 256569

In [15]:
url  = 'https://simfin.com/api/v1/companies/id/' + repr(simId) + '/shares/prices?api-key=' + API_KEY
task =  {'start': '2017-01-01', "end": '2017-12-31'}

NameError: name 'simId' is not defined

In [96]:
response = requests.get(url, task)
result = response.json()

In [18]:
result

{'shareClassId': 617993,
 'shareClassName': 'Common shares',
 'shareClassType': 'common',
 'priceData': [{'date': '2017-12-29',
   'closeAdj': '75.50',
   'splitCoef': '1.00'},
  {'date': '2017-12-28', 'closeAdj': '75.43', 'splitCoef': '1.00'},
  {'date': '2017-12-27', 'closeAdj': '76.01', 'splitCoef': '1.00'},
  {'date': '2017-12-26', 'closeAdj': '76.48', 'splitCoef': '1.00'},
  {'date': '2017-12-22', 'closeAdj': '75.30', 'splitCoef': '1.00'},
  {'date': '2017-12-21', 'closeAdj': '75.35', 'splitCoef': '1.00'},
  {'date': '2017-12-20', 'closeAdj': '74.85', 'splitCoef': '1.00'},
  {'date': '2017-12-19', 'closeAdj': '75.11', 'splitCoef': '1.00'},
  {'date': '2017-12-18', 'closeAdj': '74.53', 'splitCoef': '1.00'},
  {'date': '2017-12-15', 'closeAdj': '73.24', 'splitCoef': '1.00'},
  {'date': '2017-12-14', 'closeAdj': '72.50', 'splitCoef': '1.00'},
  {'date': '2017-12-13', 'closeAdj': '72.98', 'splitCoef': '1.00'},
  {'date': '2017-12-12', 'closeAdj': '72.70', 'splitCoef': '1.00'},
  {'date': '2017-12-11', 'closeAdj': '72.38', 'splitCoef': '1.00'},
  {'date': '2017-12-08', 'closeAdj': '72.96', 'splitCoef': '1.00'},
  {'date': '2017-12-07', 'closeAdj': '72.92', 'splitCoef': '1.00'},
  {'date': '2017-12-06', 'closeAdj': '74.11', 'splitCoef': '1.00'},
  {'date': '2017-12-05', 'closeAdj': '74.66', 'splitCoef': '1.00'},
  {'date': '2017-12-04', 'closeAdj': '76.04', 'splitCoef': '1.00'},
  {'date': '2017-12-01', 'closeAdj': '74.41', 'splitCoef': '1.00'},
  {'date': '2017-11-30', 'closeAdj': '74.61', 'splitCoef': '1.00'},
  {'date': '2017-11-29', 'closeAdj': '73.85', 'splitCoef': '1.00'},
  {'date': '2017-11-28', 'closeAdj': '71.74', 'splitCoef': '1.00'},
  {'date': '2017-11-27', 'closeAdj': '70.07', 'splitCoef': '1.00'},
  {'date': '2017-11-24', 'closeAdj': '69.98', 'splitCoef': '1.00'},
  {'date': '2017-11-22', 'closeAdj': '69.69', 'splitCoef': '1.00'},
  {'date': '2017-11-21', 'closeAdj': '70.34', 'splitCoef': '1.00'},
  {'date': '2017-11-20', 'closeAdj': '70.30', 'splitCoef': '1.00'},
  {'date': '2017-11-17', 'closeAdj': '70.13', 'splitCoef': '1.00'},
  {'date': '2017-11-16', 'closeAdj': '68.20', 'splitCoef': '1.00'},
  {'date': '2017-11-15', 'closeAdj': '68.18', 'splitCoef': '1.00'},
  {'date': '2017-11-14', 'closeAdj': '67.09', 'splitCoef': '1.00'},
  {'date': '2017-11-13', 'closeAdj': '69.88', 'splitCoef': '1.00'},
  {'date': '2017-11-10', 'closeAdj': '69.34', 'splitCoef': '1.00'},
  {'date': '2017-11-09', 'closeAdj': '68.38', 'splitCoef': '1.00'},
  {'date': '2017-11-08', 'closeAdj': '67.13', 'splitCoef': '1.00'},
  {'date': '2017-11-07', 'closeAdj': '67.14', 'splitCoef': '1.00'},
  {'date': '2017-11-06', 'closeAdj': '67.07', 'splitCoef': '1.00'},
  {'date': '2017-11-03', 'closeAdj': '67.43', 'splitCoef': '1.00'},
  {'date': '2017-11-02', 'closeAdj': '69.02', 'splitCoef': '1.00'},
  {'date': '2017-11-01', 'closeAdj': '68.53', 'splitCoef': '1.00'},
  {'date': '2017-10-31', 'closeAdj': '68.61', 'splitCoef': '1.00'},
  {'date': '2017-10-30', 'closeAdj': '68.17', 'splitCoef': '1.00'},
  {'date': '2017-10-27', 'closeAdj': '69.34', 'splitCoef': '1.00'},
  {'date': '2017-10-26', 'closeAdj': '70.25', 'splitCoef': '1.00'},
  {'date': '2017-10-25', 'closeAdj': '70.23', 'splitCoef': '1.00'},
  {'date': '2017-10-24', 'closeAdj': '70.52', 'splitCoef': '1.00'},
  {'date': '2017-10-23', 'closeAdj': '70.97', 'splitCoef': '1.00'},
  {'date': '2017-10-20', 'closeAdj': '70.86', 'splitCoef': '1.00'},
  {'date': '2017-10-19', 'closeAdj': '70.20', 'splitCoef': '1.00'},
  {'date': '2017-10-18', 'closeAdj': '70.09', 'splitCoef': '1.00'},
  {'date': '2017-10-17', 'closeAdj': '70.58', 'splitCoef': '1.00'},
  {'date': '2017-10-16', 'closeAdj': '69.96', 'splitCoef': '1.00'},
  {'date': '2017-10-13', 'closeAdj': '70.84', 'splitCoef': '1.00'},
  {'date': '2017-10-12', 'closeAdj': '70.56', 'splitCoef': '1.00'},
  {'date': '2017-10-11', 'closeAdj': '71.32', 'splitCoef': '1.00'},
  {'date': '2017-10-10', 'closeAdj': '71.02', 'splitCoef': '1.00'},
  {'date': '2017-10-09', 'closeAdj': '71.79', 'splitCoef': '1.00'},
  {'date': '2017-10-06', 'closeAdj': '72.35', 'splitCoef': '1.00'},
  {'date': '2017-10-05', 'closeAdj': '72.55', 'splitCoef': '1.00'},
  {'date': '2017-10-04', 'closeAdj': '72.40', 'splitCoef': '1.00'},
  {'date': '2017-10-03', 'closeAdj': '72.56', 'splitCoef': '1.00'},
  {'date': '2017-10-02', 'closeAdj': '72.15', 'splitCoef': '1.00'},
  {'date': '2017-09-29', 'closeAdj': '72.48', 'splitCoef': '1.00'},
  {'date': '2017-09-28', 'closeAdj': '72.69', 'splitCoef': '1.00'},
  {'date': '2017-09-27', 'closeAdj': '72.90', 'splitCoef': '1.00'},
  {'date': '2017-09-26', 'closeAdj': '72.52', 'splitCoef': '1.00'},
  {'date': '2017-09-25', 'closeAdj': '72.57', 'splitCoef': '1.00'},
  {'date': '2017-09-22', 'closeAdj': '71.22', 'splitCoef': '1.00'},
  {'date': '2017-09-21', 'closeAdj': '71.58', 'splitCoef': '1.00'},
  {'date': '2017-09-20', 'closeAdj': '71.19', 'splitCoef': '1.00'},
  {'date': '2017-09-19', 'closeAdj': '71.59', 'splitCoef': '1.00'},
  {'date': '2017-09-18', 'closeAdj': '72.17', 'splitCoef': '1.00'},
  {'date': '2017-09-15', 'closeAdj': '72.49', 'splitCoef': '1.00'},
  {'date': '2017-09-14', 'closeAdj': '71.96', 'splitCoef': '1.00'},
  {'date': '2017-09-13', 'closeAdj': '72.24', 'splitCoef': '1.00'},
  {'date': '2017-09-12', 'closeAdj': '72.29', 'splitCoef': '1.00'},
  {'date': '2017-09-11', 'closeAdj': '71.60', 'splitCoef': '1.00'},
  {'date': '2017-09-08', 'closeAdj': '71.16', 'splitCoef': '1.00'},
  {'date': '2017-09-07', 'closeAdj': '71.68', 'splitCoef': '1.00'},
  {'date': '2017-09-06', 'closeAdj': '71.79', 'splitCoef': '1.00'},
  {'date': '2017-09-05', 'closeAdj': '71.11', 'splitCoef': '1.00'},
  {'date': '2017-09-01', 'closeAdj': '71.15', 'splitCoef': '1.00'},
  {'date': '2017-08-31', 'closeAdj': '71.07', 'splitCoef': '1.00'},
  {'date': '2017-08-30', 'closeAdj': '70.82', 'splitCoef': '1.00'},
  {'date': '2017-08-29', 'closeAdj': '70.27', 'splitCoef': '1.00'},
  {'date': '2017-08-28', 'closeAdj': '70.58', 'splitCoef': '1.00'},
  {'date': '2017-08-25', 'closeAdj': '70.45', 'splitCoef': '1.00'},
  {'date': '2017-08-24', 'closeAdj': '69.68', 'splitCoef': '1.00'},
  {'date': '2017-08-23', 'closeAdj': '70.37', 'splitCoef': '1.00'},
  {'date': '2017-08-22', 'closeAdj': '70.38', 'splitCoef': '1.00'},
  {'date': '2017-08-21', 'closeAdj': '70.24', 'splitCoef': '1.00'},
  {'date': '2017-08-18', 'closeAdj': '69.27', 'splitCoef': '1.00'},
  {'date': '2017-08-17', 'closeAdj': '69.05', 'splitCoef': '1.00'},
  {'date': '2017-08-16', 'closeAdj': '70.37', 'splitCoef': '1.00'},
  {'date': '2017-08-15', 'closeAdj': '68.97', 'splitCoef': '1.00'},
  {'date': '2017-08-14', 'closeAdj': '68.44', 'splitCoef': '1.00'},
  {'date': '2017-08-11', 'closeAdj': '69.86', 'splitCoef': '1.00'},
  {'date': '2017-08-10', 'closeAdj': '69.06', 'splitCoef': '1.00'},
  {'date': '2017-08-09', 'closeAdj': '70.05', 'splitCoef': '1.00'},
  {'date': '2017-08-08', 'closeAdj': '70.28', 'splitCoef': '1.00'},
  {'date': '2017-08-07', 'closeAdj': '69.18', 'splitCoef': '1.00'},
  {'date': '2017-08-04', 'closeAdj': '68.67', 'splitCoef': '1.00'},
  {'date': '2017-08-03', 'closeAdj': '68.12', 'splitCoef': '1.00'},
  {'date': '2017-08-02', 'closeAdj': '69.01', 'splitCoef': '1.00'},
  {'date': '2017-08-01', 'closeAdj': '69.21', 'splitCoef': '1.00'},
  {'date': '2017-07-31', 'closeAdj': '68.81', 'splitCoef': '1.00'},
  {'date': '2017-07-28', 'closeAdj': '68.12', 'splitCoef': '1.00'},
  {'date': '2017-07-27', 'closeAdj': '68.16', 'splitCoef': '1.00'},
  {'date': '2017-07-26', 'closeAdj': '67.01', 'splitCoef': '1.00'},
  {'date': '2017-07-25', 'closeAdj': '67.24', 'splitCoef': '1.00'},
  {'date': '2017-07-24', 'closeAdj': '65.48', 'splitCoef': '1.00'},
  {'date': '2017-07-21', 'closeAdj': '67.45', 'splitCoef': '1.00'},
  {'date': '2017-07-20', 'closeAdj': '68.12', 'splitCoef': '1.00'},
  {'date': '2017-07-19', 'closeAdj': '68.80', 'splitCoef': '1.00'},
  {'date': '2017-07-18', 'closeAdj': '68.46', 'splitCoef': '1.00'},
  {'date': '2017-07-17', 'closeAdj': '68.86', 'splitCoef': '1.00'},
  {'date': '2017-07-14', 'closeAdj': '68.31', 'splitCoef': '1.00'},
  {'date': '2017-07-13', 'closeAdj': '68.49', 'splitCoef': '1.00'},
  {'date': '2017-07-12', 'closeAdj': '67.46', 'splitCoef': '1.00'},
  {'date': '2017-07-11', 'closeAdj': '67.14', 'splitCoef': '1.00'},
  {'date': '2017-07-10', 'closeAdj': '67.22', 'splitCoef': '1.00'},
  {'date': '2017-07-07', 'closeAdj': '68.85', 'splitCoef': '1.00'},
  {'date': '2017-07-06', 'closeAdj': '68.79', 'splitCoef': '1.00'},
  {'date': '2017-07-05', 'closeAdj': '69.66', 'splitCoef': '1.00'},
  {'date': '2017-07-03', 'closeAdj': '70.05', 'splitCoef': '1.00'},
  {'date': '2017-06-30', 'closeAdj': '70.63', 'splitCoef': '1.00'},
  {'date': '2017-06-29', 'closeAdj': '69.57', 'splitCoef': '1.00'},
  {'date': '2017-06-28', 'closeAdj': '69.89', 'splitCoef': '1.00'},
  {'date': '2017-06-27', 'closeAdj': '68.47', 'splitCoef': '1.00'},
  {'date': '2017-06-26', 'closeAdj': '68.45', 'splitCoef': '1.00'},
  {'date': '2017-06-23', 'closeAdj': '67.80', 'splitCoef': '1.00'},
  {'date': '2017-06-22', 'closeAdj': '67.29', 'splitCoef': '1.00'},
  {'date': '2017-06-21', 'closeAdj': '67.92', 'splitCoef': '1.00'},
  {'date': '2017-06-20', 'closeAdj': '68.69', 'splitCoef': '1.00'},
  {'date': '2017-06-19', 'closeAdj': '70.81', 'splitCoef': '1.00'},
  {'date': '2017-06-16', 'closeAdj': '70.90', 'splitCoef': '1.00'},
  {'date': '2017-06-15', 'closeAdj': '71.00', 'splitCoef': '1.00'},
  {'date': '2017-06-14', 'closeAdj': '71.61', 'splitCoef': '1.00'},
  {'date': '2017-06-13', 'closeAdj': '72.34', 'splitCoef': '1.00'},
  {'date': '2017-06-12', 'closeAdj': '72.20', 'splitCoef': '1.00'},
  {'date': '2017-06-09', 'closeAdj': '72.11', 'splitCoef': '1.00'},
  {'date': '2017-06-08', 'closeAdj': '71.23', 'splitCoef': '1.00'},
  {'date': '2017-06-07', 'closeAdj': '72.61', 'splitCoef': '1.00'},
  {'date': '2017-06-06', 'closeAdj': '72.40', 'splitCoef': '1.00'},
  {'date': '2017-06-05', 'closeAdj': '73.43', 'splitCoef': '1.00'},
  {'date': '2017-06-02', 'closeAdj': '73.62', 'splitCoef': '1.00'},
  {'date': '2017-06-01', 'closeAdj': '74.28', 'splitCoef': '1.00'},
  {'date': '2017-05-31', 'closeAdj': '73.61', 'splitCoef': '1.00'},
  {'date': '2017-05-30', 'closeAdj': '73.26', 'splitCoef': '1.00'},
  {'date': '2017-05-26', 'closeAdj': '73.92', 'splitCoef': '1.00'},
  {'date': '2017-05-25', 'closeAdj': '73.77', 'splitCoef': '1.00'},
  {'date': '2017-05-24', 'closeAdj': '72.41', 'splitCoef': '1.00'},
  {'date': '2017-05-23', 'closeAdj': '72.82', 'splitCoef': '1.00'},
  {'date': '2017-05-22', 'closeAdj': '73.69', 'splitCoef': '1.00'},
  {'date': '2017-05-19', 'closeAdj': '72.69', 'splitCoef': '1.00'},
  {'date': '2017-05-18', 'closeAdj': '72.89', 'splitCoef': '1.00'},
  {'date': '2017-05-17', 'closeAdj': '73.18', 'splitCoef': '1.00'},
  {'date': '2017-05-16', 'closeAdj': '72.19', 'splitCoef': '1.00'},
  {'date': '2017-05-15', 'closeAdj': '75.26', 'splitCoef': '1.00'},
  {'date': '2017-05-12', 'closeAdj': '75.66', 'splitCoef': '1.00'},
  {'date': '2017-05-11', 'closeAdj': '77.78', 'splitCoef': '1.00'},
  {'date': '2017-05-10', 'closeAdj': '79.00', 'splitCoef': '1.00'},
  {'date': '2017-05-09', 'closeAdj': '77.30', 'splitCoef': '1.00'},
  {'date': '2017-05-08', 'closeAdj': '76.53', 'splitCoef': '1.00'},
  {'date': '2017-05-05', 'closeAdj': '76.71', 'splitCoef': '1.00'},
  {'date': '2017-05-04', 'closeAdj': '76.98', 'splitCoef': '1.00'},
  {'date': '2017-05-03', 'closeAdj': '77.15', 'splitCoef': '1.00'},
  {'date': '2017-05-02', 'closeAdj': '76.93', 'splitCoef': '1.00'},
  {'date': '2017-05-01', 'closeAdj': '75.70', 'splitCoef': '1.00'},
  {'date': '2017-04-28', 'closeAdj': '76.66', 'splitCoef': '1.00'},
  {'date': '2017-04-27', 'closeAdj': '76.98', 'splitCoef': '1.00'},
  {'date': '2017-04-26', 'closeAdj': '76.94', 'splitCoef': '1.00'},
  {'date': '2017-04-25', 'closeAdj': '76.80', 'splitCoef': '1.00'},
  {'date': '2017-04-24', 'closeAdj': '76.64', 'splitCoef': '1.00'},
  {'date': '2017-04-21', 'closeAdj': '76.58', 'splitCoef': '1.00'},
  {'date': '2017-04-20', 'closeAdj': '76.20', 'splitCoef': '1.00'},
  {'date': '2017-04-19', 'closeAdj': '74.97', 'splitCoef': '1.00'},
  {'date': '2017-04-18', 'closeAdj': '74.91', 'splitCoef': '1.00'},
  {'date': '2017-04-17', 'closeAdj': '74.56', 'splitCoef': '1.00'},
  {'date': '2017-04-13', 'closeAdj': '74.88', 'splitCoef': '1.00'},
  {'date': '2017-04-12', 'closeAdj': '75.15', 'splitCoef': '1.00'},
  {'date': '2017-04-11', 'closeAdj': '75.05', 'splitCoef': '1.00'},
  {'date': '2017-04-10', 'closeAdj': '74.11', 'splitCoef': '1.00'},
  {'date': '2017-04-07', 'closeAdj': '74.18', 'splitCoef': '1.00'},
  {'date': '2017-04-06', 'closeAdj': '74.87', 'splitCoef': '1.00'},
  {'date': '2017-04-05', 'closeAdj': '74.02', 'splitCoef': '1.00'},
  {'date': '2017-04-04', 'closeAdj': '74.78', 'splitCoef': '1.00'},
  {'date': '2017-04-03', 'closeAdj': '76.36', 'splitCoef': '1.00'},
  {'date': '2017-03-31', 'closeAdj': '77.09', 'splitCoef': '1.00'},
  {'date': '2017-03-30', 'closeAdj': '77.76', 'splitCoef': '1.00'},
  {'date': '2017-03-29', 'closeAdj': '77.68', 'splitCoef': '1.00'},
  {'date': '2017-03-28', 'closeAdj': '76.73', 'splitCoef': '1.00'},
  {'date': '2017-03-27', 'closeAdj': '76.38', 'splitCoef': '1.00'},
  {'date': '2017-03-24', 'closeAdj': '76.46', 'splitCoef': '1.00'},
  {'date': '2017-03-23', 'closeAdj': '76.46', 'splitCoef': '1.00'},
  {'date': '2017-03-22', 'closeAdj': '76.66', 'splitCoef': '1.00'},
  {'date': '2017-03-21', 'closeAdj': '76.13', 'splitCoef': '1.00'},
  {'date': '2017-03-20', 'closeAdj': '76.21', 'splitCoef': '1.00'},
  {'date': '2017-03-17', 'closeAdj': '77.23', 'splitCoef': '1.00'},
  {'date': '2017-03-16', 'closeAdj': '77.23', 'splitCoef': '1.00'},
  {'date': '2017-03-15', 'closeAdj': '77.19', 'splitCoef': '1.00'},
  {'date': '2017-03-14', 'closeAdj': '76.31', 'splitCoef': '1.00'},
  {'date': '2017-03-13', 'closeAdj': '76.10', 'splitCoef': '1.00'},
  {'date': '2017-03-10', 'closeAdj': '76.21', 'splitCoef': '1.00'},
  {'date': '2017-03-09', 'closeAdj': '75.98', 'splitCoef': '1.00'},
  {'date': '2017-03-08', 'closeAdj': '76.48', 'splitCoef': '1.00'},
  {'date': '2017-03-07', 'closeAdj': '76.33', 'splitCoef': '1.00'},
  {'date': '2017-03-06', 'closeAdj': '76.62', 'splitCoef': '1.00'},
  {'date': '2017-03-03', 'closeAdj': '76.84', 'splitCoef': '1.00'},
  {'date': '2017-03-02', 'closeAdj': '77.39', 'splitCoef': '1.00'},
  {'date': '2017-03-01', 'closeAdj': '76.48', 'splitCoef': '1.00'},
  {'date': '2017-02-28', 'closeAdj': '76.48', 'splitCoef': '1.00'},
  {'date': '2017-02-27', 'closeAdj': '76.64', 'splitCoef': '1.00'},
  {'date': '2017-02-24', 'closeAdj': '76.28', 'splitCoef': '1.00'},
  {'date': '2017-02-23', 'closeAdj': '75.85', 'splitCoef': '1.00'},
  {'date': '2017-02-22', 'closeAdj': '74.43', 'splitCoef': '1.00'},
  {'date': '2017-02-21', 'closeAdj': '74.32', 'splitCoef': '1.00'},
  {'date': '2017-02-17', 'closeAdj': '75.25', 'splitCoef': '1.00'},
  {'date': '2017-02-16', 'closeAdj': '74.90', 'splitCoef': '1.00'},
  {'date': '2017-02-15', 'closeAdj': '76.26', 'splitCoef': '1.00'},
  {'date': '2017-02-14', 'closeAdj': '76.12', 'splitCoef': '1.00'},
  {'date': '2017-02-13', 'closeAdj': '74.97', 'splitCoef': '1.00'},
  {'date': '2017-02-10', 'closeAdj': '75.11', 'splitCoef': '1.00'},
  {'date': '2017-02-09', 'closeAdj': '74.20', 'splitCoef': '1.00'},
  {'date': '2017-02-08', 'closeAdj': '73.61', 'splitCoef': '1.00'},
  {'date': '2017-02-07', 'closeAdj': '73.34', 'splitCoef': '1.00'},
  {'date': '2017-02-06', 'closeAdj': '73.18', 'splitCoef': '1.00'},
  {'date': '2017-02-03', 'closeAdj': '73.32', 'splitCoef': '1.00'},
  {'date': '2017-02-02', 'closeAdj': '72.79', 'splitCoef': '1.00'},
  {'date': '2017-02-01', 'closeAdj': '72.55', 'splitCoef': '1.00'},
  {'date': '2017-01-31', 'closeAdj': '72.78', 'splitCoef': '1.00'},
  {'date': '2017-01-30', 'closeAdj': '71.93', 'splitCoef': '1.00'},
  {'date': '2017-01-27', 'closeAdj': '72.14', 'splitCoef': '1.00'},
  {'date': '2017-01-26', 'closeAdj': '72.92', 'splitCoef': '1.00'},
  {'date': '2017-01-25', 'closeAdj': '73.28', 'splitCoef': '1.00'},
  {'date': '2017-01-24', 'closeAdj': '72.46', 'splitCoef': '1.00'},
  {'date': '2017-01-23', 'closeAdj': '72.37', 'splitCoef': '1.00'},
  {'date': '2017-01-20', 'closeAdj': '73.34', 'splitCoef': '1.00'},
  {'date': '2017-01-19', 'closeAdj': '72.94', 'splitCoef': '1.00'},
  {'date': '2017-01-18', 'closeAdj': '74.49', 'splitCoef': '1.00'},
  {'date': '2017-01-17', 'closeAdj': '74.56', 'splitCoef': '1.00'},
  {'date': '2017-01-13', 'closeAdj': '73.77', 'splitCoef': '1.00'},
  {'date': '2017-01-12', 'closeAdj': '73.77', 'splitCoef': '1.00'},
  {'date': '2017-01-11', 'closeAdj': '74.06', 'splitCoef': '1.00'},
  {'date': '2017-01-10', 'closeAdj': '74.50', 'splitCoef': '1.00'},
  {'date': '2017-01-09', 'closeAdj': '73.93', 'splitCoef': '1.00'},
  {'date': '2017-01-06', 'closeAdj': '73.81', 'splitCoef': '1.00'},
  {'date': '2017-01-05', 'closeAdj': '73.98', 'splitCoef': '1.00'},
  {'date': '2017-01-04', 'closeAdj': '74.44', 'splitCoef': '1.00'},
  {'date': '2017-01-03', 'closeAdj': '73.30', 'splitCoef': '1.00'}],
 'currency': 'USD'}